body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:  rgb(248, 237, 231);
  scrollbar-width: none;
  -webkit-scrollbar-display: none;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #690f0f;
    font-size: 3vw;
    font-weight: bold;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

h2, p{
    color: #690f0f;
    font-family: "Nohemi", sans-serif;
    font-weight: 400;
    z-index: 5;
}

h2 {
    font-family: 1.5vw;
        margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 5vw;
    background-image: url("/img/bg_stickers.jpg");
  background-size: cover;
  background-color: rgba(247, 185, 104, 50);
  z-index: 2;
}

.bg_header_txt img {
    /* background-image: url("../img/white-crinkled-paper-texture-background.jpg");
    background-size: cover; */
    transform: rotate(90deg);
    z-index: 2;
    height: 510%;
    width: 100%;
    position: absolute;
    top: -5%;
    object-fit: fill;
}

.bg_header_txt {
    display: flex;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: #690f0f;
    height: 30vh;
    width: 70%;
    border-radius: 10px;
}

.bg{
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.moving_bg{
  position: absolute;
  top: 30vh;   /* endroit où l'étoile commence */
  left: 10vw;
  z-index: 0;
  will-change: transform;
}

.moving_bg *{
  position: absolute;
  z-index: 0;
}

.moving_bg img:nth-child(1){
  
  height: 50vh;
  /* width: clamp(100vw,100vw,100px); */
  left: -60%;
  transform: translateX(-40%);
}

.moving_bg img:nth-child(2){
  height: 80vh;
  left: 70vw;
  top: 50vh;
}


/* .description {
    padding: 5vw;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

.text{
    width: 30vw;
}

img {
    max-width: 80vw;
    width: clamp( 300px,20vw, 2000px);
    margin: 0;
    padding: 0;
}

figure{
    padding: 0;
    margin: 0;
    flex: 1 1 200px;
}

.small_img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img1 {
    background-color: white;
   width: clamp( 300px,30vw, 2000px);
} */

@font-face {
  font-family: "Nohemi";
  src: url(../fonts/Nohemi-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Nohemi";
  src: url(../fonts/Nohemi-Bold.woff2);
  font-weight: 700;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: #690f0f;
    margin: 0;
}


.step{
    margin-top: 10vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.description{
    margin-left: 10%;
}

.desc_img {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 70vh;
    position: relative;

    justify-content: center;
    gap: 3vw;

    margin: 0 auto;
    scrollbar-width: thin;
  scrollbar-color: #801616 transparent;
}


.desc_img::-webkit-scrollbar {
  height: 8px;
}

.desc_img::-webkit-scrollbar-track {
  background: transparent;
}

.desc_img::-webkit-scrollbar-thumb {
  background: #801616;
  border-radius: 10px;
}

.desc_img::-webkit-scrollbar-thumb:hover {
  background: #5c0d0d;
}


.cd_btn_wrapper {
  position: relative;
  overflow: hidden;
  width: fit-content;
  height: max-content;
  padding-top: 21px;
  padding-bottom: 21px;
  border-radius: 20px;
}

.fancy-btn{
  position: relative;
  padding: 20px;
  border-radius: 20px;
  background:rgb(248, 237, 231);;
  color: #801616;
  border: 2px solid #801616;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  z-index: 3;
  font-weight: 400;
  font-size: 1.5vw;
}

.text {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.fill {
  position: absolute;
  width: 200%;
  height: 200%;
  background: #801616;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: var(--x, 50%) var(--y, 50%);
  transition: transform .5s ease;
  top: -50%;
  left: -50%;
  z-index: 1;
}



/* .fill {
  position: absolute;
  inset: 0;
  background: #801616;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: var(--x, 50%) var(--y, 50%);
  transition: transform .45s ease;
  z-index: 1;
  pointer-events: none;
} */


.fancy-btn:hover .fill {
  transform: scale(1);
}

.fancy-btn:hover {
  color: aliceblue;
}

.back_btn {
    position: absolute;
    margin-left: 2vw;
    margin-top: 2vw;
}