body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:  rgb(248, 237, 231);
  scrollbar-width: none;
  -webkit-scrollbar-display: none;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #690f0f;
    font-size: 3vw;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

}

h2, p{
    color: #690f0f;
    font-family: "Nohemi", sans-serif;
    font-weight: 400;
}

h2 {
    font-family: 1.5vw;
        margin-left: auto;
    margin-right: auto;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
    background-color: #f1c995;
}

.description {
    padding: 5vw;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

.text{
    width: 30vw;
}

img {
    max-width: 80vw;
    width: clamp( 300px,20vw, 2000px);
    margin: 0;
    padding: 0;
}

figure{
    padding: 0;
    margin: 0;
    flex: 1 1 200px;
}

.small_img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img1 {
    background-color: white;
   width: clamp( 300px,30vw, 2000px);
}

@font-face {
  font-family: "Nohemi";
  src: url(../fonts/Nohemi-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Nohemi";
  src: url(../fonts/Nohemi-Bold.woff2);
  font-weight: 700;
}