.transition-overlay {
    position: fixed;
    top: 0;
    left: -50%;
    width: 300%;
    height: 100vh;
  background: #801616;
    z-index: 9999;
    pointer-events: none;
    transform: skewX(-20deg); 
    transform-origin: top left;
}