body {
    background-color: #f0d792;
    height: 300vh;
}

nav {
    /* background-color: antiquewhite; */
    position:fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 150px;
    /* background-image: url(img/nav.png); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nav {
    position: absolute;
    top: -450px;
    left: -20px;

    width: 80%;

}

/* nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0%;
    padding-right: 20px;
    display: flex;
}

nav li{
    display: inline-block;
    padding: 10px;
} */

.home {
    /* background-color: aquamarine; */
    margin-top: 50px;
    height: 90vh;
    display: flex;
    /* align-items: center; */
}

.home_bg{
    height: 70%;
    width: 80%;
    align-self: center;
    margin: auto;
    border: solid 2px #c44013;
    border-radius: 10px;
    /* background-image: url(img/bluur-2025-11-21_19-24-54.png); */
    background-image: url(img/bluur-2025-11-21_19-24-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.self_portrait {
    position: absolute;
    width: 45vh;
    right: 15%;
    top: 30%;
}

.star {
    position: absolute;
    width: 12%;
}

.star1 {
    bottom: -40px;
    left: -40px;
    width: 80px;
}

.star2 {
    top: -70px;
    right: 40%;
    width: 110px;
}

.star3 {
    bottom: -60px;
    right: -40px;
    width: 80px;
}