body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:  rgb(248, 237, 231);
  scrollbar-width: none;
  -webkit-scrollbar-display: none;
}

.homepage_text {
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    margin-top: 10vh;
    color: #3d0606;
    font-size: 15vw;
    text-transform: uppercase;
    text-align: center;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    color: #3d0606;
    font-size: 2vw;
    text-align: center;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    color: #3d0606;
    font-size: clamp(5rem,8vw, 8vw);
    text-align: left;
}

.home_page {
  position: relative;
  width: 100%;
  height: 100vh;
}

#ballpit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0; 
}

/* élément au-dessus */
.bottom_gachapon {
  position: absolute;
  bottom: -40vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 60vh;
  background-color: #f7b968;
  z-index: 1;
}

.handle {
  position: relative;
  width: clamp(200px,18vw, 18vw);
  height: auto;
  background-image: url("img/handle_bg.png");
  background-size: contain;
  margin-left: 5vw;
  margin-top: 5vh;
  z-index: 22;
}

@media (max-width:690px) {
    .handle{
      margin-left: auto;
      margin-right: auto;
    }
}

.handle img {
  width: 100%;
  display: block;
  transform-origin: center center;
  transition: transform 0.1s linear;
}

.stickers{
  width: clamp(200px,20vw, 20vw);
  display: flex;
  position: relative;
  left: 50%;
  top: -25vw;
  z-index: 50;
  align-items: center;
}

.stickers img {
  width: 100%;
  display: block;
  transform-origin: center center;
  transition: transform 0.1s linear;
}



.gacha_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
}



.gacha_box_hidden {
  position: relative;
  background-color: #f7b968;
  height: 50%;
  z-index: 20;
  top:0;
  width: clamp(200px,20vw, 20vw);
  left: 50%;
  transform: translateX(-50%);
}



.gacha_box {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(200px,20vw, 20vw);
  height: 20vh;
  overflow: hidden;
background-color: black;
  z-index: 2;
}




.gacha_wrap {
    position: relative;
    top:-50vh;
    width: 100vw;
    overflow: visible;
    z-index: 3;
}

.gacha {
  position:absolute;
  width: clamp(150px, 20vw, 250px);
    height: clamp(150px, 20vw, 250px);
    left: 50%;
    transform: translateX(-50%);
}

#gacha svg {
  width: 100%;
  height: 100%;
  display: block;
}
.svg_wrap{
  position: relative;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}


.gacha img {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.screen {
  mix-blend-mode: screen;
}

.about_me {
  height: 2500px; 
  z-index: 0;
  margin-top: 50vh;
  position: relative;
}

.text_container {
  display: grid;
  z-index: 0;
  position: relative;
  top: -6vw;
  
  gap: 1vw;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.25fr 1fr 1fr;
  grid-template-areas: 
  "header header a a btn1"
  "header header . p2 p2"
  "p1 p1 . p2 p2"
  "adj1 adj1 . . .";
  font-size: clamp(1rem,1vw, 1vw);
  font-family: "Nohemi", sans-serif;
  color: #3d0606;
}



.sliding_text1, .sliding_text2, .sliding_text3, .sliding_text4, .sliding_text5, .sliding_text6 {
  opacity: 0;
  overflow: hidden;
  padding-left: 2vw;
}

.sliding_text2, .sliding_text4, .sliding_text6 {
  transform: translateX(100%);
}

.sliding_text3, .sliding_text5 {
  transform: translateX(-100%);
}

.sliding_text1 {
  grid-area: header;
  /* border: solid 2px #3d0606; */
  margin: auto;
  padding: 0;
  transform: translateY(-100%);
  padding-left: 2vw;
  white-space: nowrap;
}

.sliding_text2 {
  grid-area: a;
font-size: clamp(1.5rem,2vw, 2vw);
font-weight: 700;
overflow: visible;
    /* border: solid 2px #3d0606; */
}

.sliding_text3 {
  grid-area: p1;
    /* border: solid 2px #3d0606; */
}

.sliding_text4 {
  grid-area: p2;
    /* border: solid 2px #3d0606; */
}

.sliding_text5{
  grid-area: adj1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sliding_text5 img {
  width: 100%;
  height: auto;
}

.sliding_text5 div{
  height: 10vh;
}

.sliding_text6 {
  grid-area: btn1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliding_text6 a {
  font-weight: 400;
  font-size: 1.5vw;
  padding: 20px;
  border-radius: 20px;
  border: solid 2px #3d0606;
  transition: all 0.2s ease;
}

.sliding_text6 a:hover {
  background-color: #3d0606;
  color: aliceblue;
}

@media (max-width: 800px) {
  .text_container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 2fr 1fr 1fr;
    grid-template-areas:
    "header header"
    "a btn1"
    "p1 p1"
    ". ."
    "p2 p2"
    "adj1 adj1";
    top: -35vh;
  }

  
}

.projects{
  height: 1000px;
  position: relative;
}

#cd_chain_container {
  width: 80%;
  height: 90vh; /* ajuste selon ton besoin */
  position: relative;
  overflow: hidden;
  border: solid 2px #3d0606;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: all;
}

@media (max-width: 800px) {
  #cd_chain_container{
    width: 110%;
    height: 60vh;
  }

  .projects_text_container{
    top: 45vh;
  }
  
}

.cd-link {
  cursor: pointer;
}

.projects h3 {
  position: absolute;
  z-index: 10;
  padding-left: 2vw;
  top: 10vh;
}

.projects_text_container {
  position: absolute;
  z-index: 20;
  left: 60vw;
  bottom: 35vh;
  /* transform: translateY(-50%); */
  font-family: "Nohemi", sans-serif;
  color: #3d0606;
  width: 25vw;
}

.cd_title{
  font-weight: 700;
  font-size: clamp(1.5rem,1.2vw,1.2vw);
}

.cd_description {
    margin-right: 1.5vw;
}

.temoignages {
  margin-top: 10vh;
  padding-left: 2vw;
  margin-bottom: 10vh;
}

.temoignages_container {
  padding-top: 5vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5vh;
}

.temoignage1, .temoignage2 {
  width: clamp(300px, 30vw, 30vw);
  height: 500px;
  background-color: #ddc29e;
}

@font-face {
  font-family: "Nohemi";
  src: url(fonts/Nohemi-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Nohemi";
  src: url(fonts/Nohemi-Bold.woff2);
  font-weight: 700;
}